<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Management</title>
    <link rel="stylesheet" th:href="@{/assets/fonts/themify-icons/themify-icons.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,500;0,700;1,300&display=swap"
            rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon"
          href="https://theme.hstatic.net/200000388065/1000766714/14/logo.png?v=111" />
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-free-6.2.0-web/css/all.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/assets/css/base.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/outstanding_product.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
    <style>
        #draw-table button a {
            padding: 8px 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #fff;
            width: 100%;
            height: 100%;
            border: 1px solid #000;
        }

        #draw-table button {
            padding: 0;
            border: none;
        }

        #draw-table a:hover {
            color: #000;
            transition: all ease 0.3s;
        }

        #draw-table button a span {
            display: inline-block;
            vertical-align: middle;
        }

        td {
            padding: 10px 0;
            vertical-align: middle;
        }

        th {
            display: table-cell;
            vertical-align: middle;
            font-weight: bold;
        }

        .create-product {
            display: flex;
            align-items: center;
            justify-content: right;
        }

        .btn {
            padding: 0;
        }

        .btn a {
            padding: 0 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #fff;
            width: 100%;
            height: 100%;
        }

        .btn a span {
            display: inline-block;
            vertical-align: middle;
        }

        a:hover {
            color: #000;
            transition: all ease 0.3s;
        }
    </style>
</head>

<body>
<div class="app">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="sidebar-logo">
            <div class="header-navbar-item sidebar-img">
                <div class="header-navbar__logo">
                    <a href="/index.html">
                        <img src="https://theme.hstatic.net/200000388065/1000766714/14/logo.png?v=111" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <div class="sidebar-home">
            <a href=""><i class="fa-solid fa-house"></i><span>Home</span></a>
        </div>
        <div class="sidebar-items">
            <div class="sidebar-item">
                <h3 class="sidebar-title">
                    Product
                </h3>
                <a href="/product/show"><i class="fa-solid fa-cube"></i>Product Management</a>
                <a href=""><i class="fa-solid fa-rectangle-list"></i>Catalogs Management</a>
            </div>
            <div class="sidebar-item">
                <h3 class="sidebar-title">
                    User
                </h3>
                <a href=""><i class="fa-solid fa-cube"></i>User Management</a>
            </div>
            <div class="sidebar-item sidebar-item_last">
                <a href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></i>Log Out</a>
            </div>
        </div>
    </section>
    <!-- Sidebar -->
    <!-- Wrap-beside -->
    <div class="wrap-beside">
        <div class="header">
            <div class="header-navbar-feat header-navbar-feat--index">
                <div class="grid">
                    <div class="header-navbar-container header-navbar-container--cart admin-nav">
                        <div class="header-navbar-cart-item admin-nav-item">
                            <!-- <div class="header-navbar-item">
                        <div class="header-navbar__logo">
                            <a href="/index.html">
                                <img src="https://theme.hstatic.net/200000388065/1000766714/14/logo.png?v=111"
                                     alt=""/>
                            </a>
                        </div>
                    </div> -->
                            <div class="header-navbar-item ">
                                <h1 class="header-navbar-cart-item admin-title">
                                    Admin
                                </h1>
                            </div>
                        </div>
                        <div class="header-navbar-cart-item admin-nav-item">
                            <div class="header-navbar-item">
                                <h1 class="header-navbar-cart-item admin-title">
                                    <i class="fa-solid fa-circle-user"></i>
                                    <span>Admin</span>
                                </h1>
                            </div>
                        </div>
                        <!-- <div class="header-navbar-item header-navbar-cart__user admin-search-wrap">
                            <ul class="header-navbar__features">
                                <li class="nav-account">
                                    <a href="/index.html">
                                        Trang chủ
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="under-nav">
            <div style="background-image: url('https://theme.hstatic.net/200000388065/1000766714/14/background_banner.jpg?v=111')"
                 class="hello">
                <div class="path admin-hello">
                    <h1 style="color: #fff;">
                        Guitar Plus Hello Admin!
                    </h1>
                </div>
            </div>
            <div class="register product-lists">
                <div class="grid">
                    <div class="grid-2">
                        <div class="product-list-wrap admin-table">
                            <table class="products-table" style="width: 100%; text-align: center;">
                                <thead>
                                <tr style="
                                            height: 50px;
                                            border-bottom: 1px solid #f5f6f9;
                                        ">
                                    <th width="40%">Name</th>
                                    <th>Catalog</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${products}">
                                    <td style="vertical-align: middle;">
                                        <div style="display: flex; align-items: center;">
                                            <img style="width: 80px; height: 80px; object-fit: cover"
                                                 th:src="@{'/images/' + ${product.getListImgs().get(0).getUrl()} }"
                                                 alt="">
                                            <p style="padding: 10px; display: inline;"
                                               th:text="${product.getProductName()}">Guitar Plus F0</p>
                                        </div>
                                    </td>
                                    <td th:text="${product.getCatalog().getCatalogName()}">Guitar</td>
                                    <td th:text="${product.getPrice()}">7.000.000</td>
                                    <td th:text="${product.getQuantity()}">100</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="view-more">
                                <a href="">View more</i></a>
                            </div>
                        </div>
                        <div class="product-list-wrap admin-table">
                            <table class="products-table" style="width: 100%; text-align: center;">
                                <thead>
                                <tr style="
                                            height: 50px;
                                            border-bottom: 1px solid #f5f6f9;
                                        ">
                                    <th width="40%">Name</th>
                                    <th>Catalog</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody id="draw-table">
                                <tr th:each="product : ${products}">
                                    <td style="vertical-align: middle;">
                                        <div style="display: flex; align-items: center;">
                                            <img style="width: 80px; height: 80px; object-fit: cover"
                                                 th:src="@{'/images/' + ${product.getListImgs().get(0).getUrl()} }"
                                                 alt="">
                                            <p style="padding: 10px; display: inline;"
                                               th:text="${product.getProductName()}">Guitar Plus F0</p>
                                        </div>
                                    </td>
                                    <td th:text="${product.getCatalog().getCatalogName()}">Guitar</td>
                                    <td th:text="${product.getPrice()}">7.000.000</td>
                                    <td th:text="${product.getQuantity()}">100</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="view-more">
                                <a href="">View more</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-list-wrap admin-table">
                        <table class="products-table" style="width: 100%; text-align: center;">
                            <thead>
                            <tr style="
                                        height: 50px;
                                        border-bottom: 1px solid #f5f6f9;
                                    ">
                                <th width="40%">Name</th>
                                <th>Catalog</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td style="vertical-align: middle;">
                                    <div style="display: flex; align-items: center;">
                                        <img style="width: 80px; height: 80px; object-fit: cover"
                                             th:src="@{'/images/' + ${product.getListImgs().get(0).getUrl()} }"
                                             alt="">
                                        <p style="padding: 10px; display: inline;"
                                           th:text="${product.getProductName()}">Guitar Plus F0</p>
                                    </div>
                                </td>
                                <td th:text="${product.getCatalog().getCatalogName()}">Guitar</td>
                                <td th:text="${product.getPrice()}">7.000.000</td>
                                <td th:text="${product.getQuantity()}">100</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="view-more">
                            <a href="">View more</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer">
            <div class="grid">
                <div class="footer-container">
                    <div class="footer-logo">
                        <img src="https://theme.hstatic.net/200000388065/1000766714/14/logo.png?v=111" alt="" />
                    </div>
                    <ul class="footer-social">
                        <li>
                            <a href=""><i class="bi bi-youtube"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="bi bi-facebook"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="bi bi-twitter"></i></a>
                        </li>
                    </ul>
                    <div class="footer-copyright">
                        <h3>© 2021 GUITARPLUS • ALL RIGHTS RESERVED</h3>
                    </div>
                    <ul class="footer-link">
                        <li><a href="">Trang chủ</a></li>
                        <li><a href="product-manage/product.html">Sản phẩm</a></li>
                        <li><a href="">Thương hiệu</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay"></div>
    </div>
    <!-- Wrap-beside -->
    <div class="modal" id="modal">
        <button style="cursor: pointer;" class="modal-close-btn" id="close-btn"><i class="fa fa-times"
                                                                                   title="閉じる"></i></button>
        <div style="text-align: center;" class="modal-form">
            <div style="padding: 4px; display: inline-block; margin-bottom: 24px; border: 1px solid #f5f6f9;"
                 class="modal-product-img">
                <img style="width: 100px" id="editImg" src="" alt="">
            </div>
            <div class="register-form__item">
                <input id="editNameInput" placeholder="Tên sản phẩm" type="text">
                <span></span>
            </div>
            <div class="register-form__item">
                <input id="editPriceInput" placeholder="Giá" type="number">
                <span></span>
            </div>
            <div class="action-button button dark">
                <button id="editCloseBtn" onclick="editProduct()" class="btn">Sửa sản phẩm</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>