.med-related-prod-wrap {
  margin: 40px 16px 0px 16px;
}
.med-related-prod-wrap .related-prod-heading {
  margin: 0px;
  font-size: 18px;
}
.med-related-prod-wrap .med-rel-prod-slider {
  display: flex;
  column-gap: 8px;
  margin-top: 20px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}
.med-related-prod-wrap .med-rel-prod-slider::-webkit-scrollbar {
  display: none;
}
.med-slider-arrow-section {
  display: none;
  align-items: center;
  justify-content: end;
  margin-top: 40px;
  column-gap: 10px;
}
.med-slider-arrow {
  --size: 30px;
  z-index: 9;
  background: #ffffff;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  border: 1px solid #dfe1e5;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  outline: 0 !important;
  transition: 0.2s ease-in-out;
}
.med-slider-arrow:after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H19' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 5L19 12L12 19' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 16px;
  content: "";
  width: var(--size);
  height: var(--size);
  display: block;
  background-repeat: no-repeat;
  background-position: 49% 50%;
  transform: rotate(180deg);
}
.med-slider-arrow.btn-left {
  display: none;
}
.med-slider-arrow.med-slider-next:after {
  transform: rotate(360deg);
}
.med-rel-prod-slider .med-product-card {
  display: inline-grid;
  grid-auto-rows: min-content auto;
  padding: 32px 12px;
  background: #ffffff;
  border: 1px solid #e5e5f0;
  border-radius: 15px;
  width: 319px;
  flex-shrink: 0;
  cursor: pointer;
  overflow: hidden;
}
.med-rel-prod-slider .med-product-card:hover .related-prod-img {
  transform: scale(1.1);
}
.med-product-card .related-prod-wrapper {
  height: 140px;
  width: 100%;
  overflow: hidden;
}
.related-prod-wrapper .related-prod-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: 0.5s all ease-in-out;
}
.med-product-card .rel-med-name {
  font-size: 24px;
  padding-top: 32px;
  color: #232426;
}
.med-product-card .rel-no-of-tab {
  color: #878787;
  font-size: 18px;
}
.med-product-card .rel-company-name {
  color: #232426;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 600;
}
.med-product-card .rel-prod-price {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0px;
}
.med-product-card .related-prod-detail {
  margin-top: auto;
}

@media (min-width: 992px) {
  .med-related-prod-wrap {
    margin: 0px 0px 50px 0px;
  }
  .med-related-prod-wrap .related-prod-heading {
    margin: 0px;
    font-size: 26px;
  }
  .med-related-prod-wrap .med-rel-prod-slider {
    margin-top: 40px;
  }
  .med-slider-arrow-section {
    display: flex;
  }
}
