#sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    z-index: 99999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) ;
    padding: 30px 30px
}

.sidebar-logo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.sidebar-img {
    display: flex;
    justify-content: center;
}

.sidebar-home a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: block;
}

.sidebar-home {
    border-bottom: 1px solid #ccc;
}

.sidebar-home a i {
    margin-right: 8px;
}

.sidebar-items {
    padding: 20px 0;
}

.sidebar-item h3 {
    margin: 0;
    font-size: 14px;
    color: rgb(118, 118, 118);
}

.sidebar-item a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: block;
    opacity: 0.7;
}

.sidebar-item a:hover {
    opacity: 1;
}

.sidebar-item a img {
    width: 20px;
}

.sidebar-item a i {
    margin-right: 8px;
}

.sidebar-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.sidebar-item_last {
    margin-top: 111px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.wrap-beside {
    padding-left: 300px;
}

.hello {
    padding-bottom: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.grid-2 {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.admin-table {
    width: 100%;
    min-height: auto;
}

.admin-hello {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
}

.view-more {
    font-size: 14px;
    display: flex;
    padding-right: 25px;
    justify-content: right;
    padding-bottom: 20px;
}
.admin-nav {
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 300px);
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) ;
}

.admin-nav-item .admin-title {
    display: flex;
    gap: 8px;
}

.admin-nav-item {
    flex: 0;
}

.under-nav {
    padding-top: 60px;
}

.admin-title_resize{
    width: 300px;
}

